body, .modal-body {
	background-color: #7FBEC0;
}

html, body {
	height: 100%;
}

.navbar, .modal-header {
	background-color: #4F8E90;
	color: white;
}


.footer, .modal-footer {
    background-color: #4F8E90;
}

.listagem {
	background-color: #87CEFA;
    border-radius: 1rem;
}

.listagem .row {
	flex-wrap: nowrap;
	width: 100%;
    overflow-x: auto;
}

.listagem .row .col-lg-3 {
	display: inline-block;
	float: none;
}

.card, .card-body {
    border-radius: 1rem;
}

.nota {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	padding: .5rem;
}

.border-success, .border-info, .border-warning, .border-danger {
	border-width: 0.5rem;
}

.questao {
    padding: 1rem 3rem;
    margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
	position: relative;
}

.documento {
	background-color: #b4fe97;
    border-radius: 1rem;
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.documento .texto {
	background-color: #8ed7a1;
    word-break: break-all;
    border-radius: 1rem;
}

.alternativa, .alternativa-form {
	margin-bottom: 0.8rem;
	padding: 1.2rem;
	font-size: 1.1rem;
    border-radius: 1rem;
}
.alternativa {
	background-color: #ffffcd;
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.alternativa.cursor-pointer:hover {
	background-color: #efefbd;
}

.alternativa .peso {
	background-color: rgba(0, 0, 0, 0.2);
}

.alternativa.selected {
	background-color: #f9ee9e;
}

.alternativa.selected.cursor-pointer:hover {
	background-color: #e9de8e;
}

.alternativa.selected.sent {
	background-color: #bcd1dc;
}

.form-group.sent .alternativa {
	cursor: default;
}

.alternativa-form {
	background-color: #ffffbd;
	position: relative;
}

.excluida {
	background-color: #fc5565;
	text-align: left;
}

.right-top {
	position: absolute;
	top: 0;
	right: 0;
}

.form-check label {
    margin-top: .25rem;
}

.erro > input, .erro > select, .erro > textarea {
  border-color: #dc3545;
}

.erro > div.form-control:first-of-type{
  border-top-color: #dc3545;
}

.erro > div.form-control {
  border-left-color: #dc3545;
  border-right-color: #dc3545;
}

.erro > div.form-control:last-of-type{
  border-bottom-color: #dc3545;
}

.erro > small {
	color: #bc1525;
}

a, .btn-link {
    color: #4433FF;
}

/*h1 span, h2 span, h3 span, h4 span, h5 span {
	display: inline-block;
	padding: .6rem;
    border-radius: 0.3rem;
}*/

.btn {
    border-radius: 1rem;
	border-width: 0.1rem;
}

.btn-primary {
	border-color: #004bcf;
}

.btn-info {
	border-color: #077288;
}

.btn-success {
	border-color: #087715;
}

.btn-danger {
	border-color: #ac0515;
}

.separador {
	height: 1rem;
	line-height: 1rem;
	padding: 0; 
}

.cursor-pointer {
	cursor: pointer;
}

@media (max-width: 576px) {
	.w-25 {
		width: 100% !important;
	}
}

.form-control {
	height: auto;
}

.form-control:not(.btn) {
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.8);
}

.form-control.cursor-pointer:hover {
	background-color: rgba(250, 250, 250, 0.8);	
}

.form-control.cursor-pointer * {
	pointer-events: none;
}

.form-control.btn-primary:focus {
	background-color: #007bff;
	color: white;
}

/*h1 span {
	background-color: rgba(0, 0, 0, 0.1);
}

h2 span {
	background-color: rgba(0, 0, 0, 0.08);
}

h3 span {
	background-color: rgba(0, 0, 0, 0.06);
}

h4 span {
	background-color: rgba(0, 0, 0, 0.04);
}

h5 span {
	background-color: rgba(0, 0, 0, 0.002);
}*/

div.inline-button {
  position: relative;
  overflow: hidden;
}

div.inline-button button {
  position: absolute;
  top: calc(50% - 10.5px );
  left: calc(100% - 1.5rem - 50px);
  font-size: .8rem;
}
