body {
	background-color: #7FBEC0;
}

html, body {
	height: 100%;
}

.footer {
    background-color: #4F8E90;
}

.navbar {
	background-color: #4F8E90;
}

.listagem {
	background-color: #87CEFA;
}

.documento {
	background-color: #87CECA;
}

.texto {
	background-color: #7FBEC0;
}

.form-check label {
    margin-top: .25rem;
}

a, .btn-link {
    color: #4433FF;
}