{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block conteudo %}
  <div class="col-lg-12 pt-5">
    <div class= "listagem mb-4 p-4">
      {% with professor=user.is_professor %}
        <div>
          <h2 class="d-inline">Turmas</h2>
          {% if professor %}
            {# <a href="{% url 'turma_cadastro' %}" class="btn btn-primary mb-4 float-right" target="_blank">Cadastrar nova Turma</a> #}
            <button data-toggle="modal" data-target="#turma_cadastro" class="btn btn-primary mb-4 float-right">Cadastrar nova Turma</button>
          {% endif %}
        </div>
        <div class="row text-center mx-0 mt-4">
          {% for turma in turmas %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2">
              <div class="card mt-4">
                <div class="card-body">
                  <h5 class="card-title">{{turma}}</h5>
                  {% if professor %}
                    <a href="{% url 'turma' turma.id %}" class="btn btn-primary m-1"><i class="fas fa-search"></i></a>
                    <a href="{% url 'turma_edicao' turma.id %}" class="btn btn-success m-1"><i class="fas fa-edit"></i></a>
                    <button data-toggle="modal" data-target="#apagar_turma{{turma.id}}" data-modal-role="delete" data-nome="{{turma.nome}}" data-url="{% url 'turma_remocao' turma.id %}" class="btn btn-danger m-1"><i class="fas fa-trash"></i></button>
                  {% else %}
                    <a href="{% url 'turma' turma.id %}" class="btn btn-info">Acessar</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% empty %}
              {% if professor %}
                <h5>Nenhuma turma cadastrada</h5>
              {% else %}
                <h5>Você não está em nenhuma turma</h5>
              {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class= "listagem mb-4 p-4">
        <div>
          <h2 class="d-inline">Atividades</h2>
          {% if professor %}
            <a href="{% url 'atividade_cadastro' %}" class="btn btn-primary mb-4 float-right">Cadastrar nova Atividade</a>
          {% endif %}
        </div>
        <div class="row text-center mx-0 mt-4">
          {% for atividade in atividades %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2">
              {% with grupo=user|grupo:atividade %}
                {% with nota=grupo.nota %}
                  <div class="card mt-4{{nota|check}}">
                    <div class="card-body">
                      <h5 class="card-title">{{atividade}}</h5>
                        {% if professor %}
                          <a href="{% url 'atividade' atividade.id %}" class="btn btn-primary m-1"><i class="fas fa-search"></i></a>
                          <a href="{% url 'atividade_edicao' atividade.id %}" class="btn btn-success m-1"><i class="fas fa-edit"></i></a>
                          <button data-toggle="modal" data-target="#apagar_atividade{{atividade.id}}" data-modal-role="delete" data-nome="{{atividade.assunto}}" data-url="{% url 'atividade_remocao' atividade.id %}" class="btn btn-danger m-1"><i class="fas fa-trash"></i></button>
                      {% elif atividade.fim < agora %}
                        {% if nota is None %}
                          Aguarde a liberação das notas
                        {% else %}
                          Nota: {{nota}}
                        {% endif %}
                      {% elif atividade.fim >= agora %}
                        {% if grupo %}
                          <a href="{% url 'atividade' atividade.id %}" class="btn btn-info">Resolver</a>
                        {% else %}
                          <a href="{% url 'grupo_cadastro' atividade.id %}" class="btn btn-success my-1">Criar grupo</a>
                          <a href="" class="btn btn-info my-1">Entrar em grupo</a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                {% endwith %}
              {% endwith %}
            </div>
            {% empty %}
              {% if professor %}
                <h5>Nenhuma atividade cadastrada</h5>
              {% else %}
                <h5>Nenhuma atividade para agora</h5>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/modal.js' %}"></script>
  {% csrf_token %}
  <script type="text/javascript">
    $(() => {
      const csrf_token = $("[name=csrfmiddlewaretoken]").val()
      
      ModalDeletion.create_from_buttons()

      turma_cadastro = MF(
        'turma_cadastro', 
        'Cadastrar nova turma',
        `{% spaceless %}{% include "form.html" with form=turma_form only %}{% endspaceless %}`,
        csrf_token
      ).on_open = check_checkbox;
      {% if turma_form.errors %}
        turma_cadastro.open();
      {% endif %}
    });
  </script>
  <script src="{% static 'js/check_checkbox.js' %}"></script>
{% endblock %}