{% extends './base_registro.html' %}
{% load widget_tweaks %}

{% block conteudo %}
  <div class="container text-center mt-5">
    <h1 class="mb-4">{{titulo}}</h1>
    <form method="post" class="w-25 mx-auto pt-5">
      {% csrf_token %}
      {% for erro in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{erro|escape}}</div>
      {% endfor %}
      {% for field in form %}
          <div class="control-group form-group">
            <div class="controls">
              <label>{{field.label}}</label>
              {% for erro in field.errors %}
                <div class="alert alert-danger" role="alert">{{erro|escape}}</div>
              {% endfor %}
              {{field|add_class:'form-control'}}
            </div>
          </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
{% endblock %}