{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
				<div class="col-lg-12 text-center pt-5">
					<h1>Cadastre-se</h1>
					<form method="post">
						{% csrf_token %}
						{% for field in form %}
						<div class="control-group form-group">
	            <div class="controls">
	            	<div class="errors">{{field.errors}}</div>
	              <label>{{field.label}}</label>
	              {{field|add_class:'form-control'}}
	              <p class="help-block"></p>
	            </div>
	          </div>
						{% endfor %}
	          <button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>
				</div>
{% endblock %}