{% extends 'base.html' %}
{% load core_extras %}

{% block conteudo %}
				<div class="col-lg-12 text-center pt-5">
					<h1>{{atividade}}</h1>
					<a href="{% url 'atividade_edicao' atividade.id %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
					<a href="{% url 'atividade_remocao' atividade.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
					<p>Faltam {{atividade.fim|timeuntil}} para finalizar</p>
					<h4>Peso: {{atividade.peso}}</h4>
					{% for questao in questoes %}
					<h3>{{forloop.counter}}. {{questao.comando}}</h3>
					<h4>Peso: {{questao.peso}}</h4>
					{% for documento in questao.documentos.all %}
						<h3>Documento {{forloop.counter}}</h3>
						{% if documento.arquivo  == '' %}
							{{documento.texto}}
						{% elif documento.arquivo|e_imagem %}
							<img src="/media/{{documento.arquivo}}">
						{% else %}
							<a href="/media/{{documento.arquivo}}" class="btn btn-primary">Baixar documento</a>
						{% endif %}
					{% endfor %}
					
					<ul class="list-group">
						{% for alternativa in questao.alternativa_set.all %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							{{alternativa.texto}}
    					<span class="badge badge-primary badge-pill">{{alternativa.peso}}</span>
						</li>
						{% empty %}
						<li class="list-group-item">Nenhuma alternativa cadastrada</li>
						{% endfor %}
					</ul>
					{% empty %}
					<h3 class="mt-5">Nenhuma questão cadastrada</h3>
					{% endfor %}
				</div>
{% endblock %}