{% extends 'base.html' %}
{% load core_extras %}

{% block conteudo %}
  <div class="col-lg-12 text-center p-5">
    <h1>{{atividade}}</h1>
    <p><i class="far fa-clock"></i> {{atividade.fim|timeuntil|beautify}}</p>
    <form method="post" class="mx-auto">
      {% csrf_token %}
      {% for form in forms %}
        <div class="questao">
          <h4>Questão {{forloop.counter}}. {{form.resposta.questao.comando}}</h4>
          {% for documento in form.resposta.questao.documentos.all %}
            {% include 'documento.html' with documento=documento n=forloop.counter only %}
          {% endfor %}
          {% include 'form.html' with form=form custum_radio_class='alternativa' only %}
        </div>
      {% endfor %}
      {% if atividade.fim >= agora %}
        <button type="submit" class="btn btn-success m-2" name='acao' value='enviar'>Enviar</button>
        <button type="submit" class="btn btn-primary m-2" name='acao' value='salvar'>Salvar</button>
      {% else %}
        <h4><span>Sinto muito! Você não pode mais enviar, o tempo da atividade acabou.<span></h4>
      {% endif %}
    </form>
  </div>
{% endblock %}