<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>História</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/46183de311.js"></script>

  <style type="text/css">
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between py-0">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio' %}">História</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-0">
          <li class="nav-item {% if current == 'inicio' %}active{% endif %}">
            <a class="nav-link btn rounded-0" href="{% url 'inicio' %}">Início</a>
          </li>
          <li class="nav-item bg-info">
            <a href="{% url 'perfil' %}" class="nav-link btn rounded-0 cursor-pointer">Área do usuário</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container mt-5">
    <div class="row">
      {% block conteudo %}
      {% endblock %}
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>
