<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Plataforma de questões</title>
  <link rel="shortcut icon" href="{% static 'imagens/icone/historia.png' %}">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/46183de311.js"></script>

  <style type="text/css">
  </style>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top justify-content-between py-0">
    <div class="container">
      <a class="navbar-brand" href="{% url 'perfil' %}">Plataforma de questões</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-0">
          <li class="nav-item bg-info">
            <a href="{% url 'perfil' %}" class="nav-link btn rounded-0 cursor-pointer">{{user.nome}}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link btn rounded-0 cursor-pointer">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container mt-5">
    <div class="row">
      {% spaceless %}
        {% block conteudo %}
        {% endblock %}
      {% endspaceless %}
    </div>
  </div>
  <footer class="footer mt-5 text-center">
    <div id="footer" class="container-fluid">
      <h2 class="">Criadores:</h2>
      <div class="row">
        <div class="col-md-4 col-12 border-right">
          <img class="rounded-circle" src="{% static 'imagens/equipe/Lari.jpg' %}" width="30%" height="auto">
          <p class="text-white">Larissa Andressa Pereira Silva</p>
        </div>
        <div class="col-md-4 col-12 border-right">
          <img class="rounded-circle" src="{% static 'imagens/equipe/Davi.jpg' %}" width="30%" height="auto">
          <p class="text-white">José Davi Viana Francelino</p>
        </div>
        <div class="col-md-4 col-12 border-right">
          <img class="rounded-circle" src="{% static 'imagens/equipe/Vivi.jpg' %}" width="30%" height="auto">
          <p class="text-white">Vivianny Caroline Félix Bezerra</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'jquery/jquery.cookie.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>  {% block scripts %}
  <script type="text/javascript">
    $((e) =>
      $('button[name=abrir_cadastro]').click((e) => {
        $button = $(e.target);
        window.open($button.val());
      });

      $input_radio = $('input[type=radio]');
      $input_radio_checked = $input_radio.filter(':checked');
      $input_radio_checked.parents('.form-control, .alternativa').addClass('selected')
      $input_radio_checked.filter(':disabled').parents('.form-control, .alternativa').addClass('sent')
      $input_radio.change((e) => {
        $(e.target).parents('.form-control, .alternativa').addClass('selected')
          .siblings('.selected').removeClass('selected')
      }).parents('.form-control, .alternativa').each((i, el) => {
        $(el).click((e) => {
          if (e.target !== el)
            return;
          $input = $(e.target).find('input');
          if ($input.is(':disabled'))
            return;
          name = $input.attr('name');
          $('input[name='+name+']:checked')
            .prop('checked', false)
          $input
            .prop('checked', true)
            .change();
        });
      });
      $('input[type=checkbox]').parents('.form-control').each((i, el)=> {
        $(el).click((e) => {
          if (e.target !== el)
            return;
          $input = $(e.target).find('input');
          checked = $input.is(':checked');
          $input.prop('checked', !checked);
        });
      });
    });
  </script>
  {% endblock %}
</body>
</html>
