{% load core_extras %}
{% load widget_tweaks %}

{% for erro in form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{erro|escape}}</div>
{% endfor %}
{% for field in form.hidden_fields %}
  {{field}}
{% endfor %}
{% for field in form.visible_fields %}
	<div class="control-group form-group">
    <div class="controls{% if field.errors %} erro{% endif %}">
      {% if field.name|endswith:'DELETE' %}
        <div class="btn-group-toggle right-top" data-toggle="buttons">
          {% for checkbox in field %}
            <label class="btn btn-sm btn-danger m-2">
              {{checkbox}}<i class="fas fa-trash"></i>
            </label>
          {% endfor %}
        </div>
      {% else %}
        {{field.label_tag}}
        {% with tipo=field.field.widget %}
          {% if tipo.input_type == 'checkbox' or tipo.input_type == 'radio' %}
            {% for checkbox in field %}
              <div class="{% firstof radio_class 'form-control' %} cursor-pointer">
                {{checkbox}}
              </div>
            {% empty %}
              <div class="form-control">
                Nenhum{{tipo.genero|masc_fem:''}} {{tipo.nome}} cadastrad{{tipo.genero|masc_fem}}
              </div>
            {% endfor %}
            {% if not tipo.nome|startswith:'usuario' %}
              <button type="button" data-toggle="modal" data-target="#{{tipo.nome|add:'_cadastro'}}" class="form-control btn btn-primary border-0">Cadastrar outr{{tipo.genero|masc_fem}} {{tipo.nome}}</button>
            {% endif %}
          {% else %}
            {{field|add_class:'form-control'}}
          {% endif %}
          {% for erro in field.errors %}
            <small><strong>{{erro|escape}}</strong></small>
          {% endfor %}
        {% endwith %}
      {% endif %}
      <p class="help-block">{{field.help_block}}</p>
    </div>
  </div>
{% endfor %}
